{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Gallery Dashboard</h3>

<div class="row">

{% for g in galleries %}
<div class="col-md-4 mb-4">

<div class="card shadow-sm">

<img src="{{ url_for('static', filename='uploads/' + g.filename) }}"
     class="card-img-top"
     style="height:220px; object-fit:cover;">

<div class="card-body">
    <h5 class="card-title">{{ g.title }}</h5>
    <small class="text-muted">{{ g.created_at }}</small>
</div>

</div>

</div>
{% endfor %}

</div>

{% endblock %}